<a href="https://colab.research.google.com/github/mikkon2409/machine_learning_course/blob/main/practise.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install opendatasets

Collecting opendatasets
  Downloading opendatasets-0.1.20-py3-none-any.whl (14 kB)
Requirement already satisfied: click in /usr/local/lib/python3.7/dist-packages (from opendatasets) (7.1.2)
Requirement already satisfied: kaggle in /usr/local/lib/python3.7/dist-packages (from opendatasets) (1.5.12)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from opendatasets) (4.62.3)
Requirement already satisfied: six>=1.10 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.15.0)
Requirement already satisfied: urllib3 in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (1.24.3)
Requirement already satisfied: python-slugify in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (5.0.2)
Requirement already satisfied: python-dateutil in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.8.2)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2.23.0)
Requirement already satisfied: certifi in /usr/local/lib/python3.7/dist-packages (from kaggle->opendatasets) (2021.5.30)
Requirement already satisfied: text-unidecode>=1.3 in /usr/local/lib/python3.7/dist-packages (from python-slugify->kaggle->opendatasets) (1.3)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->kaggle->opendatasets) (3.0.4)
Installing collected packages: opendatasets
Successfully installed opendatasets-0.1.20

In [2]:
import opendatasets as od

od.download('https://www.kaggle.com/rameshmehta/credit-risk-analysis')

Please provide your Kaggle credentials to download this dataset. Learn more: http://bit.ly/kaggle-creds
Your Kaggle username: rvyunov
Your Kaggle Key: ··········
Downloading credit-risk-analysis.zip to ./credit-risk-analysis

100%|██████████| 89.6M/89.6M [00:01<00:00, 58.5MB/s]

In [6]:
import pandas as pd

data = pd.read_csv('credit-risk-analysis/data.csv', low_memory=False)

In [9]:
data.describe()

                 id     member_id  ...  inq_last_12m    default_ind
count  8.559690e+05  8.559690e+05  ...  13288.000000  855969.000000
mean   3.224073e+07  3.476269e+07  ...      1.841963       0.054286
std    2.271969e+07  2.399418e+07  ...      2.975049       0.226581
min    5.473400e+04  7.069900e+04  ...     -4.000000       0.000000
25%    9.067986e+06  1.079273e+07  ...      0.000000       0.000000
50%    3.431355e+07  3.697532e+07  ...      2.000000       0.000000
75%    5.446311e+07  5.803559e+07  ...      3.000000       0.000000
max    6.861687e+07  7.351969e+07  ...     32.000000       1.000000

[8 rows x 52 columns]

In [10]:
data.describe(include=['object'])

              term   grade  ... application_type verification_status_joint
count       855969  855969  ...           855969                       442
unique           2       7  ...                2                         3
top      36 months       B  ...       INDIVIDUAL              Not Verified
freq        600221  247998  ...           855527                       252

[4 rows x 21 columns]

In [ ]:
import seaborn as sbm